* {
	margin: 0;
	padding: 0;
	font-family:  Arial, Helvetica, sans-serif;
}
header {
	text-align: center;
	padding: 0.5rem;
	background-color: #F9A825;
	color: #FFFDE7;
}
.upper {
	width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.dist-svg {
	text-align: center;
}
.dist-svg svg {
	width: 38rem;
	height: 22.8rem;
}
.user-form {
	font-size: 1.1rem;
}
.user-form form {
	margin: auto;
}
fieldset {
	width: 39rem;
	height: 22rem;
	margin-top: 1rem;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}
form {
	width: 38rem;
	height: 22rem;
	display: flex;
	flex-direction: row;
}
form div:first-child {
	margin: 1.5rem 0 1.5rem 2.5rem;
	width: 27rem;
}
form div:last-child {
	margin: 1.5rem 1.5rem 1.5rem 0;
	width: 9rem;
}
label, input, select {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.1rem;
}
input[type="submit"] {
	width: 7rem;
	height: 3.5rem;
	font-size: 1.3rem;
	border-radius: 2px;
	background-color: #E0E0E0;
    color: #000000;
    border: 1px solid #212121;
    cursor: pointer;
}
input[type="submit"]:hover {
	background: linear-gradient(to bottom, #E0E0E0 5%, #BDBDBD 100%);
}
.selectG path {
	fill: #FFD600;
	outline: 5px solid #F57F17;
}
#data-chart {
	text-align: center;
	color: #FAFAFA;
	font-size: 2rem;
}
#data-chart p {
	width: 80rem;
	margin: auto;
	line-height: 2rem;
	background-color: #B0B0B0;
}
#data-chart div {
	margin: auto;
	font-size: 1rem;
}
@media only screen and (max-device-width: 980px) {
	.upper {
		width: 40rem;
		margin: auto;
		display: block;
	}
	#data-chart {
		width: 100%;
	}
	#data-chart p {
		width: 40rem;
	}
}