html, body, header, h1, div,
form, input, svg, label,
select, table, td, tr, tbody, p {
	margin: 0;
	padding: 0;
	font-family:  "Roboto", sans-serif;
}
header {
	text-align: center;
	padding: 0.5rem;
	background-color: #F9A825;
	color: #FFFDE7;
}
.upper {
	width: 80rem;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.dist-svg {
	text-align: center;
}
.dist-svg svg {
	margin-top: 0.5rem;
	width: 40rem;
	height: 22.8rem;
}
.user-form {
	margin: auto;
	font-size: 1.1rem;
}
.user-form form {
	margin: auto;
}
form {
	width: 40rem;
}
#choose-dist, #add-reset {
	margin-top: 0.8rem;
}
label, input, select, #dist {
	margin: 0.8rem;
	font-size: 1.1rem;
}
#dist, #show-dist {
	width: 25rem;
}
#dist {
	overflow: hidden;
	height: 3.5rem;
	border-radius: 2px;
	border: 2px solid #BDBDBD;
}
#dist td {
	padding: 0;
	vertical-align: baseline;
}
#add, #reset, #year {
	width: 7rem;
}
#add, #reset {
	border-radius: 2px;
	background-color: #E0E0E0;
	border: 1px solid #212121;
	cursor: pointer;
}
.sub {
	width: 7rem;
	height: 3rem;
	font-size: 1.3rem;
	border-radius: 2px;
	background-color: #E0E0E0;
	border: 1px solid #212121;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background: linear-gradient(to bottom, #E0E0E0 5%, #BDBDBD 100%);
}
.waiting {
	background-image: url("../img/waiting.gif");
	background-repeat: no-repeat;
	background-size: 3rem 3rem;
	background-position: center;
	border: 0px none;
	background-color: transparent;
}
input[disabled] {
	pointer-events: none;
}
.selectDist path {
	fill: #FFD600;
	outline: 5px solid #F57F17;
}
#data-chart {
	margin-top: 1rem;
	text-align: center;
	color: #FAFAFA;
	font-size: 2rem;
}
#data-chart p {
	width: 80rem;
	margin: auto;
	line-height: 2rem;
	background-color: #B0B0B0;
}
#data-chart div {
	margin: auto;
	font-size: 1rem;
}
@media only screen and (max-width: 980px) {
	.upper {
		width: 95%;
		margin: auto;
		display: block;
	}
	.dist-svg svg {
		width: 100%;
	}
	form {
		width: 100%;
	}
	#dist, #show-dist {
		width: 90%;
	}
	#add {
		width: 20%;
	}
	#reset, #year, .sub {
		width: 100%;
	}
	#data-chart {
		width: 100%;
	}
	#data-chart p {
		width: 90%;
	}
}